Source: signal-purple
Section: net
Priority: optional
Maintainer: Vincent van Adrighem <vincent-git@vanadrighem.eu>
Build-Depends:
 debhelper-compat (= 13),
 cargo (>= 1.94),
 cmake (>= 3.25),
 libgdk-pixbuf-2.0-dev (>= 2.42),
 libglib2.0-dev (>= 2.70),
 libpurple-dev (>= 2.14),
 libsecret-1-dev (>= 0.20),
 libssl-dev,
 ninja-build,
 pkgconf,
 protobuf-compiler,
 rustc (>= 1.94)
Rules-Requires-Root: no
Standards-Version: 4.7.2
Homepage: https://github.com/adrighem/signal-purple
Vcs-Browser: https://github.com/adrighem/signal-purple
Vcs-Git: https://github.com/adrighem/signal-purple.git

Package: signal-purple
Architecture: amd64
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: pidgin
Description: experimental Signal protocol plugin for libpurple 2
 signal-purple links an existing Signal account as an additional device and
 exposes messaging through libpurple 2 clients such as Pidgin.
